<!-- search bar -->
<nav id="search-bar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Minimal YouTube</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form">
        <form (submit)="search(query.value)">
          <div class="form-group">
            <input type="text" placeholder="Search for videos..." class="form-control" #query>
          </div>
          <button (click)="search(query.value)" type="button" class="form-control btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!-- search results -->
<div id="search-results" class="container">
  <h2 *ngIf="query.value != ''">Showing results for "{{query.value}}"</h2>
  <div id="search-result" *ngFor="let item of searchItems; let i = index">
    <div class="row" *ngIf="item.id.kind == 'youtube#video'">
      <div class="col-md-3">
        <img src="{{item.snippet.thumbnails.medium.url}}" width="288" height="162">
      </div>
      <div id="search-snippet" class="col-md-9">
        <h3>{{item.snippet.title}}</h3>
        <button type="button" id="play-button" class="glyphicon glyphicon-play" (click)="callPlayerComponent(item.id.videoId)"></button>
        <p>{{item.snippet.channelTitle}}</p>
        <p>{{item.snippet.description}}</p>
      </div>
    </div>
  </div>
</div>